var cookiesArray = document.cookie.split('; ');
console.log(cookiesArray);


const jsonParseCookieVal = cookie_key => {
  var cookie_val = decodeURIComponent(((document.cookie + ';').match(cookie_key + '=([^¥S;]*)') || [])[1])
  if (cookie_val == 'undefined') {
    return undefined;
  } else {
    return JSON.parse(cookie_val);
  }
}

// 特定のcookieのkeyからJSONをparseする
let jsonVal = jsonParseCookieVal('fanp_chatlink_conditions')
console.log(jsonVal);

var current_url = location.href;
var current_path = location.pathname;

// forEeach がBreakできないそうなので someを使用
jsonVal.paterns.some(function(element){
  var regex = new RegExp(element.path_regexp);
  var isCurrent = regex.test(current_path);
  if (isCurrent) {
    currentChatlinks = element.page_chatlinks
    // パターンにマッチした瞬間にループ抜ける（本来の使い方とは若干ずれるらしい）
    return true;
  }
})

console.log(currentChatlinks);

transition_val = jsonParseCookieVal('transition_count');
transition_count = !transition_val ? 0 : Number(transition_val);
console.log(transition_count)

var current_host = location.protocol + '//' + location.host;
var referrer_url = document.referrer;
var hostRegex = new RegExp('^' + current_host);
isSameHost = hostRegex.test(referrer_url);
if (isSameHost) {
  transition_count += 1;
  document.cookie = `transition_count=${transition_count}`;
  console.log('同じところで遷移したよ');
} else {
  console.log('違うところから来たよ');
}

var closeContentArr = [
      "<div class='fanp-modal-overLay fanp-modal-close'>",
      "モーダル",
      "</div>"
    ];
var modalTag = document.createElement('div');
modalTag.innerHTML = closeContentArr.join('');
modalTag.id = 'fanp-modal';

if (false) {
  document.body.appendChild(modalTag)
};
