<h1>Statics#second</h1>
<p><%= link_to 'thirdへ', statics_third_path %></p>
<p><%= link_to 'topへ', statics_top_path %></p>


<script id="open-modal-plugin" src="http://localhost:3000/statics/plugin.js" ></script>


