<h1>Statics#top</h1>

<p><%= link_to 'secondへ', statics_second_path %></p>
<p><%= link_to 'thirdへ', statics_third_path %></p>


<script id="open-modal-plugin" src="http://localhost:3000/statics/plugin.js" ></script>

